<nav aria-label="Navigation">
  {% set home = repo_url | default("/", true) %}
  <a href="{{ home }}" class="project">
    <div class="banner">
      {% if config.extra.logo %}
        <div class="logo">
          <img src="{{ base_url }}/{{ config.extra.logo }}">
        </div>
      {% endif %}
      <div class="name">
        <strong>
          {{ site_name }}
          <span class="version">
            {{ config.extra.version }}
          </span>
        </strong>
        {% if repo_id %}
          <br>
          {{ repo_id }}
        {% endif %}
      </div>
    </div>
  </a>
  <div class="scrollable">
    <div class="wrapper">
      {% if repo_name == "GitHub" and repo_url %}
        <ul class="repo">
          <li class="repo-download">
            {% set version = config.extra.version | default("master") %}
            <a href="{{ repo_url }}/archive/{{ version }}.zip" target="_blank" title="Download" data-action="download">
              <i class="icon icon-download"></i> Download
            </a>
          </li>
          <li class="repo-stars">
            <a href="{{ repo_url }}/stargazers" target="_blank" title="Stargazers" data-action="star">
              <i class="icon icon-star"></i> Stars
              <span class="count">&ndash;</span>
            </a>
          </li>
        </ul>
        <hr>
      {% endif %}
      <div class="toc">
        <ul>
          {% for nav_item in nav %}
            {% include "nav.html" %}
          {% endfor %}
        </ul>
        {% if config.extra.author %}
          <hr>
          <span class="section">The author</span>
          <ul>
            {% if config.extra.author.twitter %}
              {% set author = config.extra.author.twitter %}
              <li>
                <a href="https://twitter.com/{{ author }}" target="_blank" title="@{{ author }} on Twitter">
                  @{{ author }} on Twitter
                </a>
              </li>
            {% endif %}
            {% if config.extra.author.github %}
              {% set author = config.extra.author.github %}
              <li>
                <a href="https://github.com/{{ author }}" target="_blank" title="@{{ author }} on GitHub">
                  @{{ author }} on GitHub
                </a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</nav>